<h1>login</h1>
<form action="index.php" method="post">
  Benutzername:<br>
  <input type="text" name="username"><br>
  Passwort:<br>
  <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>